@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap");

.promo {
  position: relative;
  top:-3px;
  width: 655px;
  height: 86px;
  background-color: #abe8ff;
  border-radius: 10px;
  margin: 0%;
  margin-left: 40px;
}

.promo h1 {
  font-family: Poppins;
  font-style: normal;
  padding: 15px 0px 0px 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: #2b2557;
}

.promo button {
  position:absolute;
  top:50px;
  background: #ffffff;
  border-radius: 6px;
  margin: 0px 0px 0px 20px;
  padding: 0px 22px 0px 22px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #2b2557;
}

.promo-image {
  position: relative;
  bottom: 81px;
  left: 560px;
}
.circle{
  position: absolute;
  top:98px;
  left:930px;
  z-index: 0;
}
.remove{
  position:absolute;
  top:105px;
  left: 938px;
  z-index: 1;
}
