@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins&display=swap");

.sidebar {
  height: 806px;
  width: 18.5%;
  background-color: #000000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #242731;
}

.heading {
  margin: 0px;
  padding-top: 50px;
  display: flex;
  padding-left: 20px;
  flex-direction: row;
}
.heading img {
  position: absolute;
  top: 54px;
}

.heading h6 {
  font-size: 20px;
  position: relative;
  color: #fefefe;
  width: 20px;
  height: 15px;
  left: 5px;
  top: 7px;
  font-family: Poppins;
  margin: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}

.heading h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #ffffff;
  margin: 0%;
  padding-left: 25px;
}

.slide{
  position:absolute;
  top:60px;
  left: 170px;
}

.sections {
  padding: 10px 0px 0px 20px;
}
.section-container {
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 35px;
  mix-blend-mode: normal;
  border-radius: 12px;
  margin-top: 2px;
  background-color: none;
}

.section-container:hover {
  background: #353945;
}
.sections img {
  width: 17px;
  height: 18px;
  padding-top: 10px;
  padding-left: 7px;
}

.sections p {
  padding-left: 25px;
  text-align: left;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #808191;
}

.section-bottom-container {
  margin-top: 155px;
  display: flex;
  flex-direction: row;
}

.section-bottom1 {
  position: absolute;
  margin-left: 25px;
  margin-top: 60px;
  width: 95px;
  height: 33px;
  background: #353945;
  border-radius: 10px;
}

.section-bottom1 img {
  position: relative;
  width: 20px;
  top: 7px;
  left: 10px;
}

.section-bottom1 h6 {
  position: absolute;
  color: #fefefe;
  width: 20px;
  height: 15px;
  left: 10px;
  top: 12px;
  font-family: Poppins;
  margin: 0%;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  line-height: 9px;
  text-align: center;
}

.section-bottom1 h1 {
  position: relative;
  bottom: 32px;
  left: 38px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  color: #ffffff;
}

.section-bottom2 {
  position: absolute;
  top: 524px;
  left: 120px;
  width: 95px;
  height: 33px;
  margin-left: 7px;
  background: #a3e3ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 155px;
}

.section-bottom2 p {
  position: relative;
  bottom: 12px;
  left: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  color: #3772ff;
}

.section-bottom-img {
  position: relative;
  top: 99px;
  left: 40px;
}

.section-bottom-toggle {
  position: relative;
  top: 106px;
  left: 60px;
}


/* -------------------------> Media queries <---------------------------- */

@media only screen and (max-width: 1194px) {
  .slide{
    left: 150px;
  }
}

@media only screen and (max-width: 1004px) {
  .slide{
    left: 140px;
  }
}

@media only screen and (max-width: 900px) {
  .slide{
    display: none;
  }
}